.upload-container{
    
    height: 500px;
    background-color:transparent;
    width:50%;
    margin: 0 auto;
    margin-top:100px;
    border-radius:12px;
    margin-bottom:100px;
}

.file-button{
    background-color:transparent;
    border:none;

}

.uploadheader{
    text-align:left;
    margin-left:45px;
}

.browsefiles-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top:10px;
  }
  
  .browsefiles-button:hover {
    background-color: purple;
    border:1px solid purple;
  }
  
  .browsefiles-button:focus {
    outline: none;
  }

  .upload{
    width:15%;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  .fileupload-container{
    border: 1px solid purple;
    width:80%;
    margin: 0 auto;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right: 10px;
    border-radius:12px;
    margin-bottom:20px;
  }

  .uploadinput{
    border-radius:8px;
    padding:3px;
    background-color:transparent;
    border: none;
    border: 2px solid purple;
    color:white;
    margin-bottom:25px;
    width:50%;
  }

  .uploadinput:focus{
    box-shadow: 0 0 10px 7px rgba(209, 5, 255, 0.5); 

  }

  .fileremove{
    margin-bottom:20px;
  }


  .postbutton {
    color: white;
    background-color: purple; 
    font-weight: 500; /* font-medium */
    border-radius: 1rem; /* rounded-lg */
    font-size: 0.875rem; /* text-sm */
    padding: 0.6rem 1rem; /* px-4 py-2 */
    text-align: center;
    outline: none;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top:20px;
  }

  .postbutton:hover{
    background-color:rgb(74, 0, 74);
    cursor:pointer;
  }

  .deletebutton{
    font-size:1.5rem;
    border:1px solid purple;
    background-color: transparent;
    color:white;
  }

  .deletebutton:hover{
    background-color:purple;
    cursor:pointer;
  }
  